apiVersion: v1
kind: Service
metadata:
  name: uptime-kuma
  namespace: uptime-kuma
spec:
  type: LoadBalancer
  loadBalancerIP: 192.168.1.229
  selector:
    app: uptime-kuma
  ports:
  - port: 80
    targetPort: 3001
    protocol: TCP
    name: http
