apiVersion: v1
kind: ConfigMap
metadata:
  name: coredns-custom
  namespace: kube-system
data:
  pihole-optimization.server: |
    rpi5:53 rpi4:53 rpi4-cm4:53 {
      hosts {
        192.168.1.10 rpi5
        192.168.1.11 rpi4-cm4
        192.168.1.12 rpi4
        fallthrough
      }
      cache 3600
    }
    kine.sock:53 {
      template ANY ANY {
        rcode NXDOMAIN
      }
    }
