apiVersion: v1
kind: ConfigMap
metadata:
  name: coredns-custom
  namespace: kube-system
data:
  pihole-optimization.server: |
    rpi5:53 rpi4:53 rpi4-cm4:53 {
      hosts {
        pihole-0.pihole-headless.pihole.svc.cluster.local rpi5
        pihole-1.pihole-headless.pihole.svc.cluster.local rpi4-cm4
        pihole-2.pihole-headless.pihole.svc.cluster.local rpi4
        fallthrough
      }
      cache 3600
    }
    kine.sock:53 {
      template ANY ANY {
        rcode NXDOMAIN
      }
    }
