[Unit]
Description=Series HDD (NTFS)
After=local-fs.target
Before=smbd.service k3s.service
Requires=local-fs.target

[Mount]
What=/dev/disk/by-uuid/a5001183-de90-43d5-b1dd-50ac742b117e
Where=/mnt/media/series
Type=ext4
Options=rw,noatime,nofail

[Install]
WantedBy=multi-user.target
