[Unit]
Description=Backup HDD (NTFS)
After=local-fs.target
Before=smbd.service k3s.service
Requires=local-fs.target

[Mount]
What=/dev/disk/by-uuid/0c05750e-a0d6-4f1f-ba75-e1fae713d557
Where=/mnt/media/backup
Type=ext4
Options=rw,noatime,nofail

[Install]
WantedBy=multi-user.target
