[Unit]
Description=Backup HDD (NTFS)
After=local-fs.target
Before=smbd.service k3s.service
Requires=local-fs.target

[Mount]
What=/dev/disk/by-uuid/629C70C96587B523
Where=/mnt/media/backup
Type=ntfs3
Options=rw,noatime,uid=1000,gid=1000,nofail

[Install]
WantedBy=multi-user.target
