[Unit]
Description=Movies HDD (NTFS)
After=local-fs.target
Before=smbd.service k3s.service
Requires=local-fs.target

[Mount]
What=/dev/disk/by-uuid/99bafb6c-3eaf-4e01-b3ee-596afedf332e
Where=/mnt/media/movies
Type=ext4
Options=rw,noatime,nofail

[Install]
WantedBy=multi-user.target
