# Secrets
*.credentials.json
*-credentials.json
credentials.json
secrets/
.env
*.pem
*.key
id_rsa*
id_ed25519*
homelab_ed25519*

# Ansible
*.retry
.vault_pass
.k3s-token

# Kubeconfig
kubeconfig*
*.kubeconfig
.kube/

# Temp
*.tmp
*.log
*.swp
*~
.DS_Store
