---
- name: Wait for system to be ready
  wait_for_connection:
    timeout: 60

- name: Update APT cache
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Upgrade all packages
  apt:
    upgrade: dist
    autoremove: yes
    autoclean: yes

- name: Install required system packages
  apt:
    name:
      - curl
      - wget
      - git
      - vim
      - htop
      - iotop
      - nfs-common
      - open-iscsi
      - python3-pip
      - ca-certificates
      - apt-transport-https
      - gnupg
      - lsb-release
      - net-tools
      - dnsutils
      - iptables
      - iptables-persistent
    state: present

- name: Set timezone
  timezone:
    name: "{{ timezone }}"

- name: Check if cmdline.txt exists (RPi OS Bookworm)
  stat:
    path: /boot/firmware/cmdline.txt
  register: cmdline_bookworm

- name: Check if cmdline.txt exists (RPi OS Bullseye)
  stat:
    path: /boot/cmdline.txt
  register: cmdline_bullseye

- name: Set cmdline path for Bookworm
  set_fact:
    cmdline_path: /boot/firmware/cmdline.txt
  when: cmdline_bookworm.stat.exists

- name: Set cmdline path for Bullseye
  set_fact:
    cmdline_path: /boot/cmdline.txt
  when: cmdline_bullseye.stat.exists

- name: Read current cmdline
  slurp:
    src: "{{ cmdline_path }}"
  register: cmdline_content
  when: cmdline_path is defined

- name: Check if cgroup settings already present
  set_fact:
    cgroup_present: "{{ 'cgroup_enable=memory' in (cmdline_content['content'] | b64decode) }}"
  when: cmdline_path is defined

- name: Enable cgroup memory for K3s
  lineinfile:
    path: "{{ cmdline_path }}"
    regexp: '^(.*rootwait.*)$'
    line: '\1 cgroup_enable=cpuset cgroup_enable=memory cgroup_memory=1'
    backrefs: yes
  register: cgroup_config
  when: 
    - cmdline_path is defined
    - not cgroup_present

- name: Disable swap in config
  replace:
    path: /etc/dphys-swapfile
    regexp: '^CONF_SWAPSIZE=.*'
    replace: 'CONF_SWAPSIZE=0'
  register: swap_config
  ignore_errors: yes

- name: Disable swap immediately
  command: swapoff -a
  when: ansible_swaptotal_mb > 0
  ignore_errors: yes

- name: Remove swap from systemd
  systemd:
    name: dphys-swapfile
    enabled: no
    state: stopped
  ignore_errors: yes

- name: Enable and start iscsid (for Longhorn)
  systemd:
    name: iscsid
    enabled: yes
    state: started

- name: Set hostname
  hostname:
    name: "{{ node_name }}"

- name: Update /etc/hosts with hostname
  lineinfile:
    path: /etc/hosts
    regexp: '^127\.0\.1\.1'
    line: "127.0.1.1 {{ node_name }}"

- name: Create /etc/rancher/k3s directory
  file:
    path: /etc/rancher/k3s
    state: directory
    mode: '0755'

- name: Reboot if cgroup config changed
  reboot:
    reboot_timeout: 300
    msg: "Rebooting for cgroup configuration changes"
  when: cgroup_config.changed
