all:
  children:
    k3s_cluster:
      children:
        controlplane:
          hosts:
            rpi5:
              ansible_host: 192.168.1.10
              ansible_user: alex
              node_name: rpi5
              node_role: high-memory
              
            rpi4-cm4:
              ansible_host: 192.168.1.11
              ansible_user: alex
              node_name: rpi4-cm4
              node_role: monitoring
              
            rpi4:
              ansible_host: 192.168.1.12
              ansible_user: alex
              node_name: rpi4
              node_role: network-services
              
  vars:
    ansible_python_interpreter: /usr/bin/python3
    ansible_ssh_private_key_file: ~/.ssh/homelab_ed25519
    ansible_ssh_common_args: '-o StrictHostKeyChecking=no'
    
    # K3s Token File Path
    k3s_token_file: "{{ playbook_dir }}/../.k3s-token"
    
    # K3s Server Options
    k3s_server_options:
      - "--disable=traefik"
      - "--disable=servicelb"
      - "--write-kubeconfig-mode=644"
      - "--cluster-init"
      - "--tls-san={{ ansible_host }}"
      - "--node-ip={{ ansible_host }}"
      - "--flannel-iface=eth0"
    
    # Netzwerk
    cluster_cidr: "10.42.0.0/16"
    service_cidr: "10.43.0.0/16"
    metallb_ip_range: "192.168.1.220-192.168.1.239"
    
    # Versionen
    k3s_version: v1.30.8+k3s1
    argocd_version: v2.13.2
    longhorn_version: v1.10.0
    metallb_version: v0.14.9
    
    # Zeitzone
    timezone: Europe/Berlin
    
    # GitHub Repo
    github_repo_url: "https://github.com/DEIN_USERNAME/homelab-k3s.git"
    github_repo_branch: main
