apiVersion: v1
kind: Service
metadata:
  name: homeassistant
  namespace: homeassistant
spec:
  type: LoadBalancer
  loadBalancerIP: 192.168.1.223
  selector:
    app: homeassistant
  ports:
  - port: 8123
    targetPort: 8123
    protocol: TCP
    name: http
