apiVersion: v1
kind: Secret
metadata:
  name: nebula-sync-env
  namespace: pihole
stringData:
  PRIMARY: "http://pihole-0.pihole-headless.pihole.svc.cluster.local|160478aaA"
  REPLICAS: "http://pihole-1.pihole-headless.pihole.svc.cluster.local|160478aaA"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nebula-sync
  namespace: pihole
  labels:
    app: nebula-sync
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nebula-sync
  template:
    metadata:
      labels:
        app: nebula-sync
    spec:
      containers:
        - name: nebula-sync
          image: ghcr.io/lovelaze/nebula-sync:latest
          env:
            - name: PRIMARY
              valueFrom:
                secretKeyRef:
                  name: nebula-sync-env
                  key: PRIMARY
            - name: REPLICAS
              valueFrom:
                secretKeyRef:
                  name: nebula-sync-env
                  key: REPLICAS
            - name: CRON
              value: "*/30 * * * *"
            - name: FULL_SYNC
              value: "false"
            - name: RUN_GRAVITY
              value: "false"
            - name: TZ
              value: "Europe/Berlin"
          resources:
            requests:
              memory: "32Mi"
              cpu: "10m"
            limits:
              memory: "128Mi"
              cpu: "100m"
