apiVersion: apps/v1
kind: Deployment
metadata:
  name: nebula-sync
  namespace: pihole
  labels:
    app: nebula-sync
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nebula-sync
  template:
    metadata:
      labels:
        app: nebula-sync
    spec:
      containers:
      - name: nebula-sync
        image: ghcr.io/lovelaze/nebula-sync:latest
        
        envFrom:
        - secretRef:
            name: nebula-sync-env
        
        env:
        - name: CRON
          value: "*/5 * * * *"
        - name: FULL_SYNC
          value: "false"
        - name: RUN_GRAVITY
          value: "true"
        - name: SYNC_MODE
          value: "SELECTIVE"
        - name: SELECTIVE_SYNC
          value: "adlist,domainlist,client"
        
        resources:
          requests:
            memory: "64Mi"
            cpu: "50m"
          limits:
            memory: "128Mi"
            cpu: "100m"
      
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            preference:
              matchExpressions:
              - key: kubernetes.io/hostname
                operator: In
                values:
                - rpi4-cm4
