apiVersion: v1
kind: Service
metadata:
  name: pihole-headless
  namespace: pihole
  labels:
    app: pihole
spec:
  clusterIP: None
  selector:
    app: pihole
  ports:
    - port: 80
      name: http
    - port: 53
      name: dns-tcp
      protocol: TCP
    - port: 53
      name: dns-udp
      protocol: UDP
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: pihole
  namespace: pihole
spec:
  serviceName: "pihole-headless"
  replicas: 3
  selector:
    matchLabels:
      app: pihole
  template:
    metadata:
      labels:
        app: pihole
    spec:
      containers:
      - name: pihole
        image: pihole/pihole:latest
        imagePullPolicy: Always
        env:
        - name: TZ
          value: "Europe/Berlin"
        - name: WEBPASSWORD
          value: "secret123"
        - name: DNSMASQ_USER
          value: "root"
        ports:
        - containerPort: 80
          name: http
        - containerPort: 53
          name: dns-tcp
          protocol: TCP
        - containerPort: 53
          name: dns-udp
          protocol: UDP
        volumeMounts:
        - name: config-pihole
          mountPath: /etc/pihole
        - name: config-dnsmasq
          mountPath: /etc/dnsmasq.d
        # WICHTIG: KEIN MOUNT AUF /var/www/html!
  volumeClaimTemplates:
  - metadata:
      name: config-pihole
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 500Mi
  - metadata:
      name: config-dnsmasq
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 100Mi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nebula-sync
  namespace: pihole
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nebula-sync
  template:
    metadata:
      labels:
        app: nebula-sync
    spec:
      containers:
      - name: nebula-sync
        image: mattwebbio/orbital-sync:latest
        env:
        - name: INTERVAL
          value: "5"
        - name: PRIMARY_HOST_BASE_URL
          value: "http://pihole-0.pihole-headless.pihole.svc.cluster.local"
        - name: PRIMARY_HOST_PASSWORD
          value: "secret123"
        - name: SECONDARY_HOST_1_BASE_URL
          value: "http://pihole-1.pihole-headless.pihole.svc.cluster.local"
        - name: SECONDARY_HOST_1_PASSWORD
          value: "secret123"
        - name: SECONDARY_HOST_2_BASE_URL
          value: "http://pihole-2.pihole-headless.pihole.svc.cluster.local"
        - name: SECONDARY_HOST_2_PASSWORD
          value: "secret123"
