apiVersion: v1
kind: Service
metadata:
  name: pihole-dns
  namespace: pihole
  annotations:
    metallb.universe.tf/allow-shared-ip: "pihole-dns"
spec:
  selector:
    app: pihole
  ports:
    - protocol: TCP
      port: 53
      targetPort: 53
      name: dns-tcp
    - protocol: UDP
      port: 53
      targetPort: 53
      name: dns-udp
  type: LoadBalancer
  loadBalancerIP: 192.168.1.225
  externalTrafficPolicy: Cluster
