apiVersion: v1
kind: Service
metadata:
  name: pihole-dns-tcp
  namespace: pihole
spec:
  type: LoadBalancer
  loadBalancerIP: 192.168.1.225  # Gleiche IP wie UDP!
  externalTrafficPolicy: Local
  selector:
    app: pihole
  ports:
  - port: 53
    targetPort: 53
    protocol: TCP
    name: dns-tcp
---
apiVersion: v1
kind: Service
metadata:
  name: pihole-dns-udp
  namespace: pihole
spec:
  type: LoadBalancer
  loadBalancerIP: 192.168.1.225
  externalTrafficPolicy: Local
  selector:
    app: pihole
  ports:
  - port: 53
    targetPort: 53
    protocol: UDP
    name: dns-udp
---
apiVersion: v1
kind: Service
metadata:
  name: pihole-web
  namespace: pihole
spec:
  type: LoadBalancer
  loadBalancerIP: 192.168.1.220
  externalTrafficPolicy: Local
  selector:
    app: pihole
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
