# Headless Service für StatefulSet DNS (pihole-0, pihole-1, pihole-2)
apiVersion: v1
kind: Service
metadata:
  name: pihole-headless
  namespace: pihole
spec:
  clusterIP: None
  selector:
    app: pihole
  ports:
    - port: 53
      targetPort: 53
      protocol: TCP
      name: dns-tcp
    - port: 53
      targetPort: 53
      protocol: UDP
      name: dns-udp
    - port: 80
      targetPort: 80
      protocol: TCP
      name: http
---
# DNS LoadBalancer - routet zu allen Pods (HA)
# externalTrafficPolicy: Local für Client-IP Erhaltung
# Erfordert einen Pi-hole Pod auf JEDEM Node (3 Replicas)
apiVersion: v1
kind: Service
metadata:
  name: pihole-dns
  namespace: pihole
spec:
  type: LoadBalancer
  loadBalancerIP: 192.168.1.225
  externalTrafficPolicy: Local
  selector:
    app: pihole
  ports:
    - port: 53
      targetPort: 53
      protocol: TCP
      name: dns-tcp
    - port: 53
      targetPort: 53
      protocol: UDP
      name: dns-udp
---
# Web Admin LoadBalancer - NUR pihole-0 (Primary) für Config-Änderungen
apiVersion: v1
kind: Service
metadata:
  name: pihole-web
  namespace: pihole
spec:
  type: LoadBalancer
  loadBalancerIP: 192.168.1.220
  externalTrafficPolicy: Local
  selector:
    app: pihole
    statefulset.kubernetes.io/pod-name: pihole-0
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
      name: http
