apiVersion: v1
kind: Service
metadata:
  name: jellyfin
  namespace: jellyfin
spec:
  type: LoadBalancer
  loadBalancerIP: 192.168.1.15
  selector:
    app: jellyfin
  ports:
  - port: 8096
    targetPort: 8096
    protocol: TCP
    name: http
  - port: 8920
    targetPort: 8920
    protocol: TCP
    name: https
